<h1><%= @island.name %></h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 text-center left-wrapper">
      <div id="city-name">

      </div>
      <div id="weather">

      </div>
    </div>

    <div class="jumbotron text-center col-md-offset-1 col-md-7">
      <p>今後更新予定です。</p>
    </div>
  </div>
</div>
