<div class="bg">
  <div class="container flexbox-container-vertical-center text-center">
    <div class="">
      <h1 class="top-header">離島マニア</h1>
      <p class="concept">
        離島へ出かけたいけど、どのような場所か分からない。。<br>
        そんなあなたに離島情報を届けます。<br>
        旅行者の投稿を見て、現地のよりリアルな体験を知ることができます。<br>
        そして、訪れた離島の思い出を投稿し残すことができます。<br><br>
        気になる写真はクリックするとポップアップ。<br>
        気になる投稿はお気に入りへストック。<br>
        気になるワードですぐに検索。<br>
        あなたの気になるを見つけて旅に出よう！<br>
      ​</p>
      <% unless user_signed_in? %>
      <%= link_to t('view.sign_up'), new_user_registration_path, class: "btn btn-default btn-top" %>
      <%= link_to t('view.log_in'), new_user_session_path, class: "btn btn-default btn-top" %>
      <% end %>
    </div>
  </div>
</div>
