<h1>離島マニア</h1>
<p>〜サービスの概要やコンセプトについて説明〜​</p>
<% unless user_signed_in? %>
  <%= link_to t('view.sign_up'), new_user_registration_path %>
  <%= link_to t('view.log_in'), new_user_session_path %>
<% end %>
