.flexbox-space-around-wrap {
  display: flex;
	justify-content: space-around;
  flex-wrap: wrap;
}
.favorite-contents {
  margin-top: 40px;
}
.favorite-content {
}
.favorite-items {
  padding: 5px 0;
  margin: 10px 0;
  background-color: rgba(115, 66, 41, 0.6);
  color: white;
  border-radius: 6px;
}
