.wf-nikukyu { font-family: "Nikukyu"; }
.bg-slider {
	width: 100vw;
	height: 100vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-slider__title{
	color: #fff;
	font-size: 4em;
	line-height: 1.5;
	font-weight: bold;
	text-align:center;
	text-shadow: 1px 1px 1px #000;
}
.concept {
  font-size: 1.2em;
  line-height: 1.4;
  color: white;
  margin: 50px 0;
}
.btn-top {
  width: 130px;
  margin: 0 8px;
}
