.wrap {
overflow: hidden;
}
.arc-area {
  color: rgba(255, 255, 255, 1);
  background-color: #00c6ff;;
  min-height: 250px;
  border-bottom-right-radius: 1900px 250px;
  border-bottom-left-radius: 1900px 250px;
  margin-left: -200px;
  margin-right: -200px;
  padding-left: 200px;
  padding-right: 200px;
}
.icon-area {
  padding: 15px 0 0 0;
  margin: 0;
}
.icon-area img {
  border: 2px solid #fff;
}
.profile-area {
  padding: 15px 0;
  margin: 0;
}
.profile li {
  padding: 5px 0;
}
.favorite-islands {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #fff;
  border-radius: 15px;
}
.favorite-islands:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #fff;
}
.favorite-islands p {
  margin: 0;
  padding: 3px 8px 7px 8px;
}
.shadow {
  text-shadow: 1px 1px 2px silver;
  font-weight: bold;
  font-size: 1em;
  color: rgba(242, 126, 10, 1);
}
.shadow-custom {
  color: #555;
  padding-left: 6px;
}
.profile-name {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 0;
}
.arc-area span {
  padding-left: 6px;
  padding-right: 6px;
}
.user-wrapper {
  margin-top: 40px;
}
.history-title {
  font-size: 1.2em;
  padding-bottom: 10px;
}
.user-contents {
  background-color: rgba(212, 212, 212, 0.2);
  width: 100%;
  height: 500px;
  padding: 15px;
  margin-top: 0;
  border-radius: 5px;
  overflow-y: auto;
}
#tooltip {
    position: relative;
    padding: 0 10px;
    min-width: 50px;
    max-width: 100%;
    color: #555;
    font-size: 0.8em;
    background: #fff;
}
#tooltip:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #fff;
}
